@import "tailwindcss";


body{
    font-family: sans-serif;
}
.container{
    margin-left:5%;
    margin-right:5%;
}
.form-input{
    height:30px;
    margin-bottom:20px;
    padding-left:10px;
    border:1px solid blueviolet;
    color:blueviolet;
}
.form-button{
    height:35px;
    border:1px solid blueviolet;
    cursor:pointer;
    color:blueviolet;

}
.commonform{
    display:flex;
    text-align: center;
    margin:auto;
    flex-direction:column;
    width:300px;
}
.login-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: blueviolet;
}
.linkPosition{
    margin-top:10px;
}
.linkPosition:hover{
    text-decoration: underline;
}
