<h2 class="login-title">Seller Login</h2>
<form (ngSubmit)="login()" class="commonform">
  <input class="form-input" type="email" [(ngModel)]="loginData.email" name="email" placeholder="Email" required>
  <input class="form-input" type="password" [(ngModel)]="loginData.password" name="password" placeholder="Password" required>
  <button class="form-button" type="submit">Login</button>
  <a class="linkPosition" routerLink="/seller-auth">Not Register click here to Signup</a>
 
</form>
<p *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</p>




